* ,
*::before 
,*::after {
    box-sizing: border-box;
    
}
main {
    background-color: var(---bodycolor-tophead-white);
}
body {
    padding: 0;
    margin: auto;
    font-family: 'Lato', sans-serif;
    ---bodycolor-tophead-white : #eceff1;
    ---liner-gradient : linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246)) rgb(255, 255, 255);
    ---greenbotton :#18c683;
    ---fontcolor : #fafefc;
    ---black-color : black;
    ---black-shadow-color : rgba(0 , 0 , 0 ,0.9);
    ---white-shadow: rgba(255, 255, 255,0.5);
    ---hover-likns: rgba(0, 0, 0,0.02);
}
.row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.row-start {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    
}
.column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column-flex-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.default-cnt {
    max-width: 1050px;
    width: 80%;
}
.full-size {
    width: 100%;
}
#nav {
    height: 64px;
}
#sticky {
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: #eceff1;
    height: 64px;
}
.noberder-nobackground {
    background-color: transparent;
    border: 0px;
}
.button-color-st {
    font-weight: 700;
    border: 0px;
    border-radius: 24px;

    box-shadow: 4px 4px 7px 4px rgba(0, 0, 0, 0.1); ;

    padding: 11px 20px ;
    cursor: pointer;
    background-color: var(---greenbotton);
    color: var(---fontcolor);
    transition: 0.15s ease-in-out;
}
.no-decor-black {
   text-decoration: none;
   color: var(---black-color) ;
}
.no-decor-white {
    text-decoration: none;
    color: var(---white-shadow) ;
}
.no-decor-white-bt {
    text-decoration: none;
    color: var(---bodycolor-tophead-white);
}
.fnt-wh {
    font-size: 15px;
    font-weight: 700;
}
.nav-button-left {
    font-family: 'Lato', sans-serif;
    height: 100%;
    border: 0px;
    padding-right: 7px;
    cursor: pointer;
}

.nav-button-right {
    padding: 0px 32px; 
}
/* end of header */
.big-blue-box {
  background: var(---liner-gradient);

  height: 200px;
  width: 100%;
}
.white-font {
    position: relative;
    top: 20px;
    bottom: 20px;
    text-align: center;
    font-weight: 800;

    color: var(---fontcolor);
}
.white-head-text {
    color: var(---fontcolor);
    font-weight: 800;
}
.numbers {
    font-size: 21px
}
.tabel-style {
    background-color: white;
    border-spacing: 0px;
    border: 1px solid inherit;
    border-radius: 6px;
    margin-top: -110px;
    box-shadow: 4px 4px 32px 22px rgba(0, 0, 0, 0.1); ;
    max-width: 1050;
    width: 100%;
}
.tabel-style thead th {
    background-color:  var(---bodycolor-tophead-white);
    padding: 15px 30px;
    text-align: left;
}
.tabel-style tbody td {
    padding: 25px 30px;
    text-align: left;
    border-top: 1px solid rgba(0 , 0 , 0 ,0.1);
}
.left_aling_numbers {
    text-align: right;
}
.left-top {
    border-top-left-radius: 6px ;
}
.left-right {
    border-top-right-radius: 6px ;
}
.margin-bottom{
    margin-bottom: 100px;
}
.four-slice-cnt {
    width: 25%;
}
.padding-top-txt {
    padding-top: 8px;
}
.padding-right-txt {
    padding-right: 8px;
}
.symbol-name-table {
    font-size: 12px;
    color: var(---black-shadow-color);
}
.th-size {
    min-width: 150px;
    height: 45px;
    font-size: 14px;
}
.name-style {
    cursor: pointer;
}
.name-style:hover {
    text-decoration: underline;
}
p {
    color: var(---white-shadow);
}
svg {
    fill: var(---white-shadow)
}
nav div:nth-child(1) ,nav div:nth-child(2) ,nav div:nth-child(4) {
    width: 33.33333%;
}

/* hovers */
svg:hover {
    fill: white;
    transition: 0.2s ease-in-out;
}
.no-decor-white:hover {
    color: var(---fontcolor);
    transition: 0.2s ease-in-out;
}
td:hover {
    background-color: rgba(255, 255, 255,0.4);
}
.button-color-st:hover {
    transform:  translateY(-5%)
    
}
.nav-button-left:hover {
    background-color: var(---hover-likns);

}
.green {
    background-color: rgb(92, 160, 92);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.red {
    background-color: rgb(179, 33, 33);
    width: 15px;
    height: 15px;
     border-radius: 50%;
}
/* -------------------------*/
/* .nav-cnt.active {
    display: block;
    height: 100%;
    width: 50%;
    margin-right: 70%;
    left: 100%;
}
.hamburger-menu-cnt.active {
    background-color: #18c683;
}
.nav-menu.active {
    
}
.js-block {
    display: none;
} */
/* -------------------------*/
.hamburger {
    display: none;
    width: 33.333333%;
}
.bar {
    background-color: var(---black-color);
    max-width: 17px;
    height: 3px;
    margin: 3px auto;
    margin-right: 30px;
}
.display-block {
    display: block;
} 
.display-none-defult {
    display: none;
} 
.nav-menu {
    position: fixed;
    left: -100%;
    gap: 0;
    width: 100%;
    text-align: center;
    transition: 0.3;
}
@media(max-width:768px){
    .hamburger {
        display: block;
        float: right;
    }
    .display-none {
        display: none;
    } 
    .display-none-defult {
        display: block;
    }
    
    /* .center-image {
        margin-left: 43%;
    } */
    td:nth-child(6) ,td:nth-child(6) , th:nth-child(5) , th:nth-child(6) {
        display: none;
    }
    .default-cnt {
        width: 95%;
    }
    .nav-button-right {
    padding: 0px;
    }
    .res-column {
        display: flex;
        flex-wrap: wrap;
    }
    .res-column div {
        padding: 2px 0px;
        width: 150px;
        max-height: 70px;
    }
    .tabel-style {
        margin-top: -45px;
    }
}
